header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}

.logo {
    background: LightSkyBlue;
    width: 60vw;
}

.nav-bar {
    background: LightSalmon;
}

.content {
    background: PaleTurquoise;
    text-align: center;
}

.footer {
    background: LightPink;
}

nav {
    font-weight: 400;
}

nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

div {
    position: static;
}